<!DOCTYPE html>
<html lang="en" data-ng-app="ScheduleApp" data-ng-cloak>

<head data-ng-controller="IndexController">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        [ng\:cloak],
        [ng-cloak],
        .ng-cloak {
            display: none;
        }
    </style>
    <title>{{ data.site_name }} : {{ data.meta_title }}</title>
    <meta name="description" content="{{ data.meta_description }}" />
    <meta name="author" content="{{ data.author }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/app.css">
</head>

<body>

    <header data-ng-controller="IndexController">
        <nav class="navbar navbar-inverse" data-ng-include="'js/partials/nav.html'"></nav>
    </header>

    <header data-ng-controller="LoginController" class="container">
        <form ng-submit="login(user)" ng-hide="loggedIn">
            Username: <input name="username" ng-model="user.name" />
            Password: <input type="password" name="password" ng-model="user.pword" />
            <button type="submit">Login</button>
        </form>
        <form ng-submit="logout()" ng-show="loggedIn">
            <button type="submit">Logout</button>
        </form>
    </header>

    <div class="container">
        <main class="main">
            <div data-ng-controller="DaysController" data-ng-include="'js/partials/days.html'"></div>
            <br>
            <div data-ng-view class="view-animate"></div>
        </main>

        <footer class="footer" data-ng-controller="IndexController">
            <div>
                <p class="footer__credit small-print">&copy; 2020 {{ data.site_name }}. Website
                    by {{ data.author }}</p>
            </div>
        </footer>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

</body>

</html>